.superhero-mobile-menu-toggle{
    display: none;
}
@media (min-width: 993px) {
    .superhero-dropdown{
        > ul {
            float: right;
            > li{
                transition: all 200ms ease 0s;
                list-style: none;
                display: inline-block;
                margin: 0 3px;
                padding: 0;
                position: relative;
                
                &:hover{
                    background: url(#{$theme_path}/images/bg-menu-over.png) repeat 0 0;
                }
                
                > a {
                    color: #878787;
                    display: inline-block;
                    font-family: 'open_sanslight';
                    font-size: 14px;
                    margin: 0;
                    padding: 0 14px;
                    text-transform: none;
                    border-bottom: 3px solid transparent;
                    text-decoration: none;
                    outline: none;
                    &:hover, &.active {
                        color: $color_main;
                        border-bottom: 3px solid $color_main;
                        &:after{
                            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) $color_main;
                            border-image: none;
                            border-style: solid;
                            border-width: 3px;
                            bottom: 3px;
                            content: "";
                            left: 45%;
                            margin: 0 auto;
                            position: absolute;
                        }
                    }
                    &.active {
                        font-family: 'open_sansbold';
                    }
                }
            }

            ul{
                background: #FFFFFF;
                @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.125));
                margin: 30px 0 0 0;
                padding: 0;
                overflow: hidden;
                @include transition(margin-top .3s, opacity .3s);
                @include box-shadow(0 -3px 0 $color_main);
                z-index:999;

                li {
                    border-bottom: 1px solid #EEEEEE;
                    a {
                        text-decoration: none;
                        outline: none;
                        &:not(.btn){
                           color: #999; 
                           &:before{
                                margin: 0 auto;
                                content: "";
                                border-image: none;
                                border-style: solid;
                                border-width: 4px;
                                border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)  #878787 ;
                                position:absolute;
                                left: 10px;
                                top: 40%;
                                @include transition(all 300ms linear 0ms);
                            }
                        }
                        padding: 0 15px 0 20px;
                        @include transition(all 250ms linear 0ms);
                        &.active{ 
                            font-family: 'open_sansbold' !important;
                            background: fade_out($color_main, 95%);
                        }
                    }
                    &:hover {
                        background: fade_out($color_main, 95%);
                        > a {
                            color: $color_main;
                            padding: 0 15px 0 30px;
                            &:before{
                                left: 20px;
                            }
                        }
                    }
                }
            }
        }
        .menu-arrow{
            display:none;
        }
    }
    .rtl {
        .superhero-dropdown {
            ul ul li {
                text-align: right;
                a {
                    padding: 0 20px 0 15px;
                    &:not(.btn){
                       color: #999; 
                       &:before{
                            margin: 0 auto;
                            content: "";
                            border-image: none;
                            border-style: solid;
                            border-width: 4px;
                            border-color: rgba(255, 255, 255, 0) #878787 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
                            position:absolute;
                            right: 10px;
                            left: inherit;
                            top: 40%;
                            @include transition(all 300ms linear 0ms);
                        }
                    }
                }
                &:hover {
                    > a {
                        padding: 0 30px 0 15px;
                        &:before{
                            right: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .superhero-mobile-menu-toggle{
        display: block;
    }
    a.superhero-mobile-menu-toggle{
        padding: 5px 10px;
        position: absolute;
        right: 10px;
        top: -37px;
        border: 1px solid;
    }
    .region-menu{
        padding: 0;
    }
    .superhero-dropdown{
        background: #34373e;
        &.open{border-top: 1px solid #eee;}
        
        @include transition(0.5s);
        ul{
            li{
                a{
                    padding: 0 15px;
                    color: #fff!important;
                    &:hover{
                        color: $color_main!important;
                    }
                    &.active{
                        color: $color_main!important;
                    }
                }
            }
        }
        .menu-arrow{
            right: 15px;
        }
    }
    .rtl {
        a.superhero-mobile-menu-toggle {
            right: inherit;
            left: 15px;
        }
        .superhero-dropdown {
            > ul {
                width: 100%;
                > li {
                    text-align: right;
                    ul {
                        li {
                            text-align: right;
                            i {
                                left: 60px;
                            }
                        }
                    }
                }
            }
            .menu-arrow {
                right: inherit;
                left: 15px;
            }
        }
    }
}