.portfolio-item {
	position: relative;
	overflow: hidden;
	.slide-item-wrap {
		position: absolute;
		height: 100%;
		width: 100%;
	}
}
#section-content{
    .portfolio-filters{
    	margin-bottom: 10px;
        ul#filters{
            list-style:none;
            padding: 0;
            margin: 0;
            li{
                cursor: pointer;
                display: inline-block;
                margin: 0 0 10px 10px !important;
                padding:0 !important;
                float: right;

                a{
                    outline: 0;
                    display: inline-block;
                    padding: 0 15px 0 31px!important;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-family: 'NovecentowideUltraLightBold';
                    line-height: 32px;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    color: $color_main;
                    background: fade_out($color_main, 80%);
                    text-shadow: none;
                    position: relative;
                    border: 0;
                    @include border-radius(0 5px 5px 0);
                    @include box-shadow(none);
                    @include transition(all 0.3s linear 0s);
                    text-decoration: none;
                    outline: none;
                    &:before{
                        background: none repeat scroll 0 0 rgba(0,0,0,0) !important;
                        border-image: none;
                        border-style: solid;
                        border-width: 16px;
                        border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) #fff;
                        height: 0;
                        line-height: 0;
                        width: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: "";
                    }

                    &:hover,&.active{
                        outline: 0;
                        color: $white!important;
                        text-decoration: none;
                        background-color: $color_main;
                        *background-color: $color_main
                    }
                }
            }
        }
    }
}

.rtl{
    #section-content{
        .portfolio-filters{
            ul#filters{
                li{
                    float: left;
                    margin: 0 10px 0 0 !important;
                }
            }
        }
    }
}
#creative_portfolio-block ul#filters li a {
	text-decoration: none;
	outline: none;
}
.portfolio-container{
    padding: 20px 0;
}
/* creatrix portfolio */
.creatrix-portfolio{
    .portfolio-caption{
        background: rgba(255,255,255,0.9);
        color: $color_main;

        .portfolio-caption-inner{
            position: relative;
            width: 100%;
            height: 100%;

            .caption-padding{
                position: absolute;
                top: 50%!important;
                margin-top: -45px;
                width: 100%;
                text-align: center;

                .pf-icon{
                    color: #fff;
                    background: $color_main;
                    border: 1px solid $color_main;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    display: inline-block;
                    padding: 0;
                    margin-right: 5px;
                    font-size: 16px;
                    &:hover{
                        color: $color_main;
                        background: #fff;
                    }
                }
                .entry-title{
                    padding: 0 10px;
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-family: 'open_sansbold';
                    color: $color_main;
                }
                .category{
                    font-size: 14px;
                    color: $color_main;
                    margin: 10px 0;
                    padding: 0 10px;
                    line-height: 18px;
                }
            }
        }
    }
}