body {
  color: #333;
}
.body a:not(.btn) {
  color: #e67700;
}
.link-bg:hover, .link-bg a:hover {
  background-color: #e67700;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover, .tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a, .tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
  color: #e67700;
}
.body a:hover {
  color: #b35d00;
}
h1, h2, h3, h4, h5, h6 {
  color: #e67700;
}
.body h2 a {
  color: #e67700;
}
